#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

@media (max-width: 600px) {
  .cv-preview {
    min-width: 304px !important;
  }
}

@media (max-width: 864px) {
  main {
    padding: 1rem 0.5rem;
  }

  .cv-preview {
    min-width: 584px;
  }
}

@media (max-width: 1178px) {
  header {
    justify-content: center;
  }

  .content-container {
    flex-direction: column-reverse;
  }

  .content-container > div {
    align-self: center;
  }

  .options {
    width: 100%;
    max-width: 800px;
  }
}
