.simple-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  color: var(--color1);
  border: 2px solid var(--color1);
  border-radius: 0.5rem;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

.simple-btn:hover {
  color: black;
}

.simple-btn > img {
  height: 2rem;
  filter: invert(25%) sepia(21%) saturate(978%) hue-rotate(118deg)
    brightness(91%) contrast(83%);
  transition: all 0.3s ease-in-out;
}

.simple-btn:hover > img {
  color: black;
  filter: invert(0%) sepia(100%) saturate(20%) hue-rotate(351deg)
    brightness(95%) contrast(100%);
}

.reset,
.download {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.item-del-btn > img {
  height: 1.5rem;
}

.subitem-add-btn > img,
.subitem-del-btn > img {
  height: 1.25rem;
}

.add-edu-exp,
.del-edu-exp,
.subitem-add-btn {
  padding: 0.25rem 0.5rem;
}

.add-edu-exp:hover,
.subitem-add-btn:hover {
  background-color: var(--add-btn);
  border-color: var(--add-btn);
}

.reset:hover,
.del-edu-exp:hover,
.item-del-btn:hover,
.subitem-del-btn:hover {
  color: var(--dark-font-color);
  background-color: var(--del-btn);
  border-color: var(--del-btn);
}

.download:hover {
  color: var(--dark-font-color);
  background-color: var(--print-btn);
  border-color: var(--print-btn);
}

.subitem-add-btn {
  align-self: center;
  margin-top: 0.5rem;
}
