/* Global variables and fonts */
@font-face {
  font-family: 'Fraunces';
  src: url('../assets/fonts/Fraunces-VariableFont.woff2') format('woff2');

  font-style: normal;
}

@font-face {
  font-family: 'Fraunces-Italic';
  src: url('../assets/fonts/Fraunces-Italic-VariableFont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('../assets/fonts/Inter-Italic-VariableFont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

:root {
  --color1: #e8eeed;
  --color2: #ceb5a7;
  --color3: #a17c6b;
  --color4: #5b7b7a;
  --color5: #3c887e;

  --header-font: Fraunces, serif;
  --body-font: Inter, sans-serif;
}

/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family:
    system-ui,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    /* Change font if you wish */ 'Apple Color Emoji',
    'Segoe UI Emoji';
  font-size: 16px;
  tab-size: 4;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh; /* Change to height to make page always 100% */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  text-wrap: balance;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea,
label {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
}

textarea:not([rows]) {
  min-height: 10em;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: none; /* Added to remove error */
  -webkit-appearance: button;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  appearance: none; /* Added to remove error */
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Global styles */

html {
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: 500;
}

footer {
  font-family: var(--header-font);
}

button {
  border: none;
  cursor: pointer;
}
