/* Global variables and fonts */
@font-face {
  font-family: 'Fraunces';
  src: url('../assets/fonts/Fraunces-VariableFont.woff2') format('woff2');

  font-style: normal;
}

@font-face {
  font-family: 'Fraunces-Italic';
  src: url('../assets/fonts/Fraunces-Italic-VariableFont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('../assets/fonts/Inter-Italic-VariableFont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

:root {
  --color1: #29524a;
  --color2: #c9e4de;
  --color3: #f1f8f7;
  --color4: #29524a;

  --add-btn: green;
  --del-btn: rgb(228, 40, 40);
  --reset-btn: rgb(228, 40, 40);
  --print-btn: rgb(174, 172, 172);

  --resume-color: white;
  --resume-font-1: Arial, sans-serif;
  --resume-font-2: Inter, sans-serif;
  --resume-font-3: Tahoma, serif;
  --resume-font-4: 'Times New Roman', serif;
  --resume-font-5: Verdana, sans-serif;

  --header-font: Fraunces, serif;
  --body-font: Inter, Roboto, sans-serif;

  --light-font-color: white;
  --dark-font-color: black;

  --resume-width: 800px;
  --ar: calc(8.5 / 11);
  --resume-height: calc((1 / var(--ar)) * var(--resume-width));
  --resume-font-size-1: 32px;
  --resume-font-size-2: 20px;
  --resume-font-size-3: 16px;
  --resume-padding: 3rem;
}

/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: var(--body-font);
  font-size: 16px;
  tab-size: 4;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh; /* Change to height to make page always 100% */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  text-wrap: balance;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea,
label {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
}

textarea:not([rows]) {
  min-height: 10em;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: none; /* Added to remove error */
  -webkit-appearance: button;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  appearance: none; /* Added to remove error */
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Global styles */

html {
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: 500;
}

header {
  color: var(--light-font-color);
}

footer {
  font-family: var(--header-font);
  color: var(--light-font-color);
}

button {
  font-family: var(--header-font);
  border: none;
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('../assets/icons/menu-down.svg') no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: 1.5rem;
}

select::-ms-expand {
  display: none;
}

label,
legend {
  font-weight: bold;
  letter-spacing: 1.5px;
}

legend {
  margin-bottom: 0.5rem;
}

fieldset {
  border: none;
  padding: 0;
}

:focus,
:focus-visible {
  outline: 2px solid blue;
}
