main {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: var(--color2);
}

.content-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  min-height: 550px;
  max-width: 1400px;
  width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;
  min-width: 300px;
  max-height: calc((1 / var(--ar)) * var(--resume-width));
  width: 100%;
}

.content-options,
.document-options {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-height: auto;
}

.document-btns {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.cv-preview {
  min-width: var(--resume-width);
  aspect-ratio: var(--ar);
  background-color: var(--cv-color);
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
}
